<launch>
  <!-- Load URDF and SRDF -->
  <!-- By default, we will load or override the robot_description -->
  <arg name="load_gripper" default="true" />
  <arg name="load_robot_description" default="true"/>
  <arg name="arm_id" default="panda" />

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)"
         command="xacro '$(find franka_description)/robots/panda/panda.urdf.xacro' hand:=$(arg load_gripper) arm_id:=$(arg arm_id)" />

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" command="xacro '$(find panda_moveit_config)/config/panda.srdf.xacro' hand:=$(arg load_gripper) arm_id:=$(arg arm_id)" />

  <group ns="robot_description_kinematics">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml" subst_value="true"/>
  </group>

  <group ns="robot_descripton_planning">
    <rosparam command="load" file="$(find panda_moveit_config)/config/joint_limits.yaml" subst_value="true" />
    <rosparam command="load" file="$(find panda_moveit_config)/config/cartesian_limits.yaml" subst_value="true"/>
  </group>
  
  <!-- Load Controller Configuration -->
  <rosparam file="$(find cloth_manipulation)/config/ros_controllers.yaml" command="load"/>

  <include file="$(find cloth_manipulation)/launch/calibrated_hand_camera.launch"/>

  <!-- Launch MoveIt MoveGroup node -->
  <node name="full_grasping_planner_node" pkg="cloth_manipulation" type="full_grasping_planner" output="screen">
  </node>

</launch>
